.header {
  color: teal;
  margin: 10px;
  text-align: center;
  font-weight: 900;
}

.header__date {
  font-family: "Chivo Mono", monospace;
  font-size: x-small;
  display: flex;
  justify-content: flex-end;
}
