.form__button {
    width: 100%;
    background: rgb(0, 128, 128);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 3px;
  }
  
  .form__button:hover {
    background: rgb(1, 102, 102);
  }
  
  .form__button:active {
    background: rgb(1, 82, 82);
  }
  .form__input {
    width: 100%;
  }
    